@Html.ActionLink(Localizer["ChangeCourse"].Value, "Edit", "Courses", new { @Model.Id })
<section>
    <div>
        <b>@Localizer["CourseName"]</b>
        <p>@Model.Name</p>
    </div>
    <div>
        <b>@Localizer["CourseDescription"]</b>
        <p>@Model.Description</p>
    </div>
    @if (Model.Groups != null)
    {
        <table>
            <caption class="captionTable">@Localizer["CaptionTable"]</caption>
            <tr>
                <td>@Localizer["Group"]</td>
            </tr>
            @foreach (Group group in Model.Groups)
            {
                <tr>
                    <td>@Html.ActionLink(@group.Name, "Details", "Groups", new { @group.Id })</td>
                </tr>
            }
        </table>
    }
    else
    {
        <b>@Localizer["NoGroups"]</b>
        <form method="post" asp-controller="Courses" asp-action="Delete" asp-route-Id="@Model.Id">
            <input type="submit" value="@Localizer["DeleteCourse"]" />
        </form>
    }
</section>