@using WebUniversity.Models.ViewModels;
@model IndexViewModel<Course>;

@{ 
    Layout = "../MasterPages/ViewForIndex.cshtml";
}

@Html.ActionLink(Localizer["AddNew"].Value, "Create")
<table>
    <caption class="captionTable">@Localizer["CaptionTable"]</caption>
    <tr>
        <td>@Localizer["Course"]</td>
        <td>@Localizer["CourseDescription"]</td>
    </tr>
    @foreach (Course course in Model.Items)
    {
        <tr>
            <td>@Html.ActionLink(@course.Name, "Details", "Courses", new { @course.Id })</td>
            <td>@course.Description</td>
        </tr>
    }
</table>