@model Group
<section>
    <div>
        @Html.ActionLink(Localizer["Edit"].Value, "Edit", "Groups", new { @Model.Id })
    </div>
    <div>
        <b>@Localizer["ModelNameLabel"]</b>
        <p>@Model.Name</p>
        @if (Model.Course != null)
        {
            <b>@Localizer["CourseLabel"]</b>
            <p>@Html.ActionLink(Model.Course.Name, "Details", "Courses", new { @Model.Course.Id })</p>
        }
        else
        {
            <p>@Localizer["NoCourse"]</p>
        }
    </div>
    <div>
        @if (Model.Students != null)
        {
            <table>
                <caption class="captionTable">@Localizer["CaptionTable"]</caption>
                <tr>
                    <td>№</td>
                    <td>@Localizer["Names"]</td>
                </tr>
                @{
                    int id = 1;
                    var students = Model.Students.OrderBy(student => student.LastName);
                }
                @foreach (Student student in students)
                {
                    <tr>
                        <td>@(id++)</td>
                        <td>@Html.ActionLink($"{student.FirstName} {student.LastName}", "Details", "Students", new { @student.Id })</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>@Localizer["NoStudents"]</p>
            <form method="post" asp-controller="Groups" asp-action="Delete" asp-route-Id="@Model.Id">
                <input type="submit" value="@Localizer["Delete"]" />
            </form>
        }
    </div>
    </section>