@model Group
<section>
    <form method="post" asp-action="Update" asp-route-Id="@Model.Id">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <b>Название группы</b>
                <p><input type="text" asp-for="Name" value="@Model.Name" /></p>
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <b>Курс обучения</b>
                <p>
                    <select asp-for="CourseId">
                        <option value="null">Не назначено</option>
                        @if (!(ViewBag.Courses is null))
                        {
                            @foreach (Course course in ViewBag.Courses)
                            {
                                @if (Model.Course == course)
                                {
                                    <option selected="selected" value="@course.Id">@course.Name</option>
                                }
                                else
                                {
                                    <option value="@course.Id">@course.Name</option>
                                }

                            }
                        }
                    </select>
                </p>
            </div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </form>
</section>