@using WebUniversity.Models.ViewModels;
@model IndexViewModel<Group>;

@{
    Layout = "~/Views/Shared/ViewForIndex.cshtml";
}

@Html.ActionLink(Localizer["AddNew"].Value, "Create")
@if (Model is null)
{
    <p>@Localizer["NoGroups"]</p>
}
else
{
    <table class="table">
        <caption class="captionTable">@Localizer["CaptionTable"]</caption>
        <tr>
            <td>@Localizer["Group"]</td>
            <td>@Localizer["Course"]</td>
            <td>@Localizer["StudentsCount"]</td>
        </tr>
        @{
            int id = 0;
        }
        @foreach (Group group in Model.Items)
        {
            <tr>
                <td>@Html.ActionLink(@group.Name, "Details", "Groups", new { @group.Id })</td>
                @if (@group.Course is null)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@Html.ActionLink(@group.Course.Name, "Details", "Courses", new { @group.Course.Id })</td>
                }
                <td>@ViewBag.countOfStudents[id++]</td>
            </tr>
        }
    </table>
}