@using WebUniversity.Models.ViewModels;
@model IndexViewModel<Group>;

@{
    Layout = "~/Views/Shared/ViewForIndex.cshtml";
}

@if (Model is null)
{
    <p>@Localizer["NoGroups"]</p>
}
else
{
    <table class="table">
        <caption class="captionTable">@Localizer["CaptionTable"]</caption>
        <tr>
            <td>@Localizer["Group"]</td>
            <td>@Localizer["Course"]</td>
            <td>@Localizer["StudentsCount"]</td>
        </tr>
        @{
            int id = 0;
        }
        @foreach (Group group in Model.Items)
        {
            <tr>
                <td>@Html.ActionLink(@group.Name, "Details", "Groups", new { @group.Id })</td>
                @if (@group.Course is null)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@Html.ActionLink(@group.Course.Name, "Details", "Courses", new { @group.Course.Id })</td>
                }
                <td>@ViewBag.countOfStudents[id++]</td>
            </tr>
        }
    </table>
}

@section RightSide {
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" method="post" asp-antiforgery="true" asp-controller="Groups" asp-action="Index">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@Model.SearchData">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <a class="btn btn-primary" href="~/Groups/Create" role="button">@Localizer["AddNew"].Value</a>
    </nav>
}