@model Student
<section>
    <div>
        @Html.ActionLink("Редактировать студента", "Edit", "Students", new { @Model.Id })
    </div>
    <div>
        <b>Имя:</b>
        <p>@Model.FirstName</p>
    </div>
    <div>
        <b>Фамилия:</b>
        <p>@Model.LastName</p>
    </div>
    <div>
        @if (Model.Group != null)
        {
            <b>Группа:</b>
            <p>@Html.ActionLink(Model.Group.Name, "Details", "Groups", new { Model.Group.Id })</p>
        }
        else
        {
            <p>Студент не приписан к группе.</p>
        }
    </div>
    <form method="post" asp-controller="Students" asp-action="Delete" asp-route-Id="@Model.Id">
        <input type="submit" value="Удалить студента" />
    </form>
</section>